.title {
   margin: 0 auto;
   margin-top: var(--spacer);
    font-family: var(--ff-primary);
    font-size: 1.5rem;
    // max-width: 21ch;
    width: 90%;
    @media (min-width: 50em) {
       max-width: 21ch;
       margin-left: 0;
    }
}

.paragraph {
    font-family: var(--ff-secondary);
    margin-top: 1rem;
    margin-bottom: 2rem;
    opacity: .8;
    font-size: 1rem;

    @media (min-width: 50em) {
       font-size: .7rem;
       margin-bottom: 1.5rem;
     }
}